@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;600&display=swap");

:root {
	--white: #ffffff;
	--gray: #adadad;
	--light-gray: #f9f5f2;
	--orange: #f26440;
	--green: #286f6c;
	--pink: #fef2f2;
	--black: #3c3c3c;
	--light-green: #d4e2e2;
}

/*BASE*/
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Inter", sans-serif;
	font-size: 16px;
	font-weight: 400;
}
img {
	display: block;
	max-width: 100%;
	object-fit: cover;
}
li {
	list-style-type: none;
}

/* HEADER ====================  */
.header {
	position: relative;
	background-color: var(--pink);
	height: 495px;
	padding: 1.5em;
}
.header__circle {
	position: absolute;
	right: 1em;
	bottom: 17%;
	border-radius: 50%;
	width: 200px;
	aspect-ratio: 1;
	background-color: var(--green);
}
.header-container__title {
	font-size: 50px;
	font-weight: 600;
	padding-top: 15%;
	margin-bottom: 17px;
}
.header-container__photo {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	max-width: 210px;
}
.header-social {
	display: flex;
	flex-direction: column;
	gap: 1em;
}
.header-social__icon {
	display: inline-block;
	border: 3px solid var(--white);
	background-color: var(--orange);
	color: var(--white);
	padding: 0.7em;
	border-radius: 50%;
	cursor: pointer;
}

/* NAV ===================== */
.nav-list {
	display: none;
}
.nav__menu-icon {
	display: inline-block;
	position: absolute;
	right: 1.5em;
	cursor: pointer;
	width: 24px;
	aspect-ratio: 1.5;
}

/* MAIN ==============  */

/* About me*/
.c-about {
	padding: 3em 1em;
}
.c-about__title {
	color: var(--green);
	font-size: 32px;
	font-weight: 600;
	margin-bottom: 1em;
}
.c-about__description {
	color: var(--gray);
	line-height: 1.5;
}

/* My SKills */

.c-skills {
	max-width: 900px;
	position: relative;
	margin: 2em 0 3em 0;
}
.c-skills__title {
	font-size: 32px;
	color: var(--green);
	margin-bottom: 1em;
	padding-left: 0.5em;
}
.c-skills__span {
	display: inline-block;
	margin-right: 10px;
	font-size: 32px;
	color: var(--white);
}
.c-skills__circle {
	position: absolute;
	border-radius: 50%;
}
.c-skills__circle--size-big {
	top: -2em;
	left: -4.6em;
	height: 150px;
	width: 150px;
	background-color: var(--green);
	z-index: -33;
}
.c-skills__circle--size-small {
	height: 80px;
	width: 80px;
	left: 1em;
	top: 5em;
	z-index: -32;
	background-color: var(--orange);
}
.c-skills__container {
	display: flex;
	flex-wrap: nowrap;
	gap: 1em;
	padding: 0 1em;
	overflow-x: auto;
}
.skills-card {
	background-color: var(--pink);
	min-height: 260px;
	max-height: 300px;
	min-width: 220px;
	max-width: 220px;
	padding: 1.5em 1em;
}
.skills-card--transparent {
	background-color: transparent;
	min-width: 75px;
	max-width: 150px;
}
.skills-card__h3 {
	margin-bottom: 2em;
	font-size: 17px;
}
.skills-card__text {
	color: #928e8e;
	font-size: 14px;
}
.skills-card__icon {
	display: inline-block;
	margin: 0 0.5em -0.5em 0;
}

/* EXPERIENCE */

.c-experience {
	padding: 0 1em 6.5em 1em;
}
.c-experience__title {
	font-size: 32px;
	color: var(--green);
	margin-bottom: 1em;
}
.c-experience__container {
	display: flex;
	flex-direction: column;
	gap: 3em;
	padding: 0 1.5em;
}
.experience-card {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1em;
	max-width: 350px;
}
.experience-card__icon {
	filter: invert(57%) sepia(26%) saturate(7271%) hue-rotate(336deg) brightness(99%)
		contrast(92%);
	max-width: 80px;
	aspect-ratio: 1;
}
.experience-card__description {
	flex: 1;
	line-height: 1.3;
	padding: 0 0.5em;
}
.experience-card__name-job {
	color: var(--black);
	font-size: 17px;
	font-weight: bold;
}
.experience-card__job {
	color: #928e8e;
	font-size: 13px;
}
.experience-card__small {
	color: #adadad;
	font-size: 11px;
}
.experience-card__years {
	color: var(--black);
	font-size: 18px;
	font-weight: bold;
}

/* PORTFOLIO */
.c-portfolio {
	display: grid;
	grid-template-columns: 1em 1fr 1fr 1em;
	row-gap: 3em;
	margin-bottom: 13em;
	background-color: var(--green);
	color: var(--white);
}
.c-portfolio-text,
.c-portfolio-img {
	grid-column: 2 / 4;
}
.c-portfolio-img--grid-one {
	margin-top: -2.5em;
}
.c-portfolio-img--grid-three {
	margin-bottom: -10em;
}
.c-portfolio-img {
	padding: 1em;
	border-radius: 10px;
	background-color: var(--white);
	color: var(--black);
	box-shadow: -1px 1px 12px 2px rgba(71, 71, 71, 0.39);
}
.c-portfolio-img__title {
	margin: 0.5em 0;
}
.c-portfolio-text__title {
	font-size: 32px;
	font-weight: 600;
	padding: 0.5em 0;
}
.c-portfolio-text__description {
	line-height: 1.6;
	font-weight: 300;
	color: var(--light-gray);
}

/* CONTACT */
.c-contact {
	position: relative;
	padding-bottom: 6em;
}
.c-contact__background {
	position: absolute;
	left: -6em;
	top: 3.5em;
	border-radius: 50%;
	width: 220px;
	aspect-ratio: 1;
	background-color: var(--light-green);
	z-index: -33;
}
.c-contact__title {
	font-size: 32px;
	color: var(--green);
	padding: 0.5em 0.5em 1em;
}
.c-contact__container {
	display: flex;
	justify-content: space-evenly;
	text-align: center;
}
.c-contact-card__icon {
	display: inline-block;
	background-color: var(--orange);
	padding: 1.2em;
	border-radius: 50%;
}
.c-contact-card__text {
	margin: 0.5em 0;
	color: var(--green);
	font-weight: 600;
}
.c-contact-card__small {
	color: var(--gray);
	font-size: 15px;
}
/* FOOTER */
.footer {
	font-size: 19px;
	text-align: center;
	color: var(--orange);
	padding: 3em 0 ;
}