@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;600&display=swap");

:root {
	--white: #ffffff;
	--gray: #adadad;
	--light-gray: #f9f5f2;
	--orange: #f26440;
	--green: #286f6c;
	--pink: #fef2f2;
	--black: #3c3c3c;
	--light-green: #d4e2e2;
	--regular-font: 16px;
	--subsection-font: 20px;
	--subtitulo-font: 32px;
	--titulo-font: 50px;
}

/*BASE*/
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
	overscroll-behavior-y: contain;
}
body {
	font-family: "Inter", sans-serif;
	font-size: var(--regular-font);
	font-weight: 400;
	max-width: 1950px;
	margin: 0 auto;
	scroll-behavior: smooth;
}
img {
	display: block;
	max-width: 100%;
	object-fit: cover;
}
li {
	list-style-type: none;
}
a {
	text-decoration: none;
	color: var(--black);
	cursor: pointer;
}

/* HEADER ====================  */
.header {
	position: relative;
	background-color: var(--pink);
	height: 495px;
	padding: 1.5em;
}
.header-container {
	max-width: 600px;
	margin: 0 auto;
}
.header__circle {
	position: absolute;
	right: 1em;
	bottom: 17%;
	border-radius: 50%;
	width: 200px;
	aspect-ratio: 1;
	background-color: var(--green);
}
.header-container__title {
	font-size: var(--titulo-font);
	font-weight: 600;
	padding-top: 15%;
	margin-bottom: 17px;
}
.header-container__photo {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	max-width: 210px;
}
.header-social {
	display: flex;
	flex-direction: column;
	gap: 1em;
}
.header-social__icon {
	display: inline-block;
	border: 3px solid var(--white);
	background-color: var(--orange);
	color: var(--white);
	padding: 0.7em;
	border-radius: 50%;
	cursor: pointer;
}

/* NAV ===================== */
.nav__menu-icon {
	display: inline-block;
	position: absolute;
	right: 1.5em;
	cursor: pointer;
	width: 24px;
	aspect-ratio: 1.5;
}
.nav-list {
	background-color: var(--green);
	min-width: 345px;
	aspect-ratio: 0.7;
	position: absolute;
	right: 1em;
	display: flex;
	flex-direction: column;
	gap: 4em;
	padding: 3em;
	text-align: right;
	font-size: 18px;
	z-index: 33;
	opacity: 0.9;
	display: none;
}
.close-icon {
	color: var(--white);
	cursor: pointer;
	position: absolute;
	left: 1em;
	top: 1em;
	font-size: 2rem;
}
.nav-list__links {
	color: var(--white);
}
.nav-list__links:hover {
	color: var(--gray);
}

/* MAIN ==============  */
/* About me*/
.c-about {
	max-width: 700px;
	margin: auto;
	padding: 3em 1em;
}
.c-about__title {
	color: var(--green);
	font-size: var(--subtitulo-font);
	font-weight: 600;
	margin-bottom: 1em;
}
.c-about__description {
	color: var(--gray);
	line-height: 1.5;
}

/* My SKills */

.c-skills {
	max-width: 1000px;
	position: relative;
	margin: 2em 0 3em 0;
}
.c-skills__title {
	font-size: var(--subtitulo-font);
	color: var(--green);
	padding-left: 0.5em;
	max-width: 700px;
	margin: auto;
	margin-bottom: 1em;
}
.c-skills__span {
	display: inline-block;
	margin-right: 10px;
	font-size: var(--subtitulo-font);
	color: var(--white);
}
.c-skills__circle {
	position: absolute;
	border-radius: 50%;
}
.c-skills__circle--size-big {
	top: -2em;
	left: -4.6em;
	width: 150px;
	aspect-ratio: 1;
	background-color: var(--green);
	z-index: -33;
}
.c-skills__circle--size-small {
	width: 80px;
	aspect-ratio: 1;
	left: 1em;
	top: 5em;
	z-index: -32;
	background-color: var(--orange);
}
.c-skills__container {
	display: flex;
	flex-wrap: nowrap;
	gap: 1em;
	padding: 0 1em;
	overflow-x: auto;
}
.skills-card {
	background-color: var(--pink);
	min-height: 260px;
	max-height: 300px;
	min-width: 220px;
	max-width: 220px;
	padding: 1.5em 1em;
}
.skills-card--transparent {
	background-color: transparent;
	min-width: 75px;
	max-width: 150px;
}
.skills-card__h3 {
	margin-bottom: 2em;
	font-size: 17px;
}
.skills-card__text {
	color: #928e8e;
	font-size: 14px;
}
.skills-card__icon {
	display: inline-block;
	margin: 0 0.5em -0.5em 0;
}

/* EXPERIENCE */

.c-experience {
	padding: 0 1em 6.5em 1em;
	max-width: 700px;
	margin: auto;
}
.c-experience__title {
	font-size: var(--subtitulo-font);
	color: var(--green);
	margin-bottom: 1em;
}
.c-experience__container {
	display: flex;
	flex-direction: column;
	gap: 3em;
	padding: 0 1.5em;
}
.experience-card {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1em;
	max-width: 350px;
}
.experience-card__icon {
	filter: invert(57%) sepia(26%) saturate(7271%) hue-rotate(336deg) brightness(99%)
		contrast(92%);
	max-width: 80px;
	aspect-ratio: 1;
}
.experience-card__description {
	flex: 1;
	line-height: 1.3;
	padding: 0 0.5em;
}
.experience-card__name-job {
	color: var(--black);
	font-size: 17px;
	font-weight: bold;
}
.experience-card__job {
	color: #928e8e;
	font-size: 13px;
}
.experience-card__small {
	color: #adadad;
	font-size: 11px;
}
.experience-card__years {
	color: var(--black);
	font-size: 18px;
	font-weight: bold;
}

/* PORTFOLIO */
.c-portfolio {
	display: grid;
	grid-template-columns: 1em 1fr 1fr 1em;
	row-gap: 3em;
	margin-bottom: 13em;
	background-color: var(--green);
	color: var(--white);
}
.c-portfolio-text,
.c-portfolio-img {
	grid-column: 2 / 4;
}
.c-portfolio-img--grid-one {
	margin-top: -2.5em;
}
.c-portfolio-img--grid-three {
	margin-bottom: -10em;
}
.c-portfolio-img {
	max-width: 400px;
	padding: 1em;
	border-radius: 10px;
	background-color: var(--white);
	color: var(--black);
	box-shadow: -1px 1px 12px 2px rgba(71, 71, 71, 0.39);
}
.c-portfolio-img__title {
	margin: 0.5em 0;
}
.c-portfolio-text__title {
	font-size: var(--subtitulo-font);
	font-weight: 600;
	padding: 0.5em 0;
}
.c-portfolio-text__description {
	max-width: 700px;
	line-height: 1.6;
	font-weight: 300;
	color: var(--light-gray);
}

/* CONTACT */
.c-contact {
	position: relative;
	padding-bottom: 6em;
	max-width: 700px;
	margin: auto;
}
.c-contact__background {
	position: absolute;
	left: -6em;
	top: 3.5em;
	border-radius: 50%;
	width: 220px;
	aspect-ratio: 1;
	background-color: var(--light-green);
	z-index: -33;
}
.c-contact__title {
	font-size: var(--subtitulo-font);
	color: var(--green);
	padding: 0.5em 0.5em 1em;
}
.c-contact__container {
	display: flex;
	justify-content: space-evenly;
	text-align: center;
}
.c-contact-card__icon {
	display: inline-block;
	background-color: var(--orange);
	padding: 1.2em;
	border-radius: 50%;
}
.c-contact-card__text {
	margin: 0.5em 0;
	color: var(--green);
	font-weight: 600;
}
.c-contact-card__small {
	color: var(--gray);
	font-size: 15px;
}
/* FOOTER */
.footer {
	font-size: 19px;
	text-align: center;
	color: var(--orange);
	padding: 3em 0;
}

/* MEDIA QUERIES */ /* TABLET  */
/* ====================================== */

@media screen and (min-width: 768px) {
	.header__circle {
		width: 280px;
		bottom: 10%;
		right: 6em;
	}
	.header-container__title {
		max-width: 400px;
	}
	.header-container__photo {
		max-width: 230px;
	}
	.c-skills__circle--size-big {
		width: 30%;
		top: -3em;
		left: -6.8em;
	}
	.c-skills__circle--size-small {
		width: 15%;
	}
	.c-experience__container {
		align-items: center;
	}
	.experience-card {
		gap: 3em;
	}
	.c-portfolio {
		grid-template-columns: 2em 1fr 1fr 2em;
	}
	.c-portfolio-img--grid-three {
		justify-self: flex-end;
	}
	.c-contact__background {
		width: 280px;
		left: -10em;
	}
}
/* MEDIA QUERIES */ /* DESKTOP  */
/* ====================================== */
@media screen and (min-width: 1024px) {
	:root {
		--regular-font: 20px;
		--subsection-font: 24px;
		--subtitulo-font: 40px;
		--titulo-font: 75px;
	}
	.header {
		height: 770px;
	}
	.header-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		max-width: 1200px;
	}
	.header__circle {
		width: 470px;
		left: 50%;
		right: 25%;
	}
	.header-container__title {
		padding-top: 0.4em;
		line-height: 1.1;
		max-width: 350px;
	}
	.header-container__photo {
		max-width: 700px;
		height: 650px;
	}
	.header-social {
		flex-direction: row;
		gap: 2em;
	}
	.header-social__icon {
		padding: 0.7em;
	}
	.header-social__img {
		width: 35px;
		aspect-ratio: 1;
	}
	.nav {
		height: 150px;
	}
	.nav__menu-icon {
		display: none;
	}
	.close-icon {
		display: none;
	}
	.nav-list {
		display: flex;
		position: none;
		width: 100%;
		flex-direction: row;
		justify-content: end;
		gap: 3em;
		background-color: transparent;
		z-index: 1;
		padding: 1em 0 0 0;
		height: 150px;
	}
	.nav-list::after {
		content: "";
		z-index: -34;
	}
	.nav-list__links {
		color: var(--gray);
		font-weight: 600;
		cursor: pointer;
	}
	.nav-list__links:hover {
		color: var(--green);
	}
	.c-about,
	.c-skills,
	.c-experience,
	.c-contact {
		max-width: 1024px;
		padding: 5em 0 5em 0;
	}
	.c-skills {
		margin: 0 auto;
	}
	.c-skills__title {
		margin: 0;
		padding-left: 0;
	}
	.c-skills__container {
		padding: 1.5em 0 0 0;
		justify-content: end;
	}
	.skills-card {
		max-width: 250px;
	}
	.c-skills__circle--size-big {
		width: 470px;
		top: 1em;
		left: -18em;
	}
	.c-skills__circle--size-small {
		width: 22%;
		top: 14em;
		left: -5em;
	}
	.c-experience__container {
		flex-direction: row;
		justify-content: space-between;
		padding: 0;
		margin-bottom: 2em;
	}
	.experience-card {
		gap: 0.5em;
	}
	.c-portfolio {
		grid-template-columns: 4em 1fr 3em 1fr 4em;
		max-height: 750px;
		margin-bottom: 2em;
	}
	.c-portfolio-img {
		width: 100%;
		max-width: none;
		max-width: 550px;
		padding: 2em;
	}
	.c-portfolio-text {
		padding-top: 5em;
		grid-column: 4 / 5;
	}
	.c-portfolio-img--grid-one {
		grid-column: 2 / 3;
	}
	.c-portfolio-img--grid-three {
		margin-top: -7em;
		margin-bottom: 0;
		grid-column: 4 / 5;
	}
	.c-contact__background {
		width: 500px;
		left: -20em;
		top: 9em;
	}
	.c-contact__container {
		padding: 2em 0;
	}
	.c-contact-card__icon {
		padding: 1.7em;
	}
	.c-contact-card__icon img {
		width: 85px;
		aspect-ratio: 1;
	}
}
